div {
    margin: 15px;
    padding-right: 7px;
    width: 250px;
    height: 300px;
    box-sizing: border-box;
    border: 2px solid deepskyblue;
    font-family: 'Fjalla One', sans-serif;
    color: azure;
    background: black;
}
